.header {
	&__menu-block {
		background: $backgroundColorMenu;
	}

	&__list {
		padding: 3vh 2vh;

		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 2vh;

		&-item {
			list-style-type: none;
		}

		&-link {
		}

		&-icon {
			height: 4vh;
		}

		&-menu {
			position: relative;

			display: block;
			width: 4vh;
			height: 2px;
			background-color: $mainColor;
			border-radius: 50px;

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 4vh;
				height: 2px;
				background-color: $mainColor;
				border-radius: 50px;
			}

			&::before {
				top: -1.5vh;
			}
			&::after {
				top: 1.5vh;
			}
		}
	}

	&__menu {
		display: none;

		&-item {
			list-style: none;
		}

		&-link {
			text-decoration: none;

			@extend %textMenu;
		}
	}
}

@media screen and (min-width: 768px) {
	.header {
		&__list {
			display: none;
		}

		&__menu {
			padding: 2vh;

			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1vw;
		}
	}
}
