header.header 
	.header__menu-block
		ul.header__list
			li.header__list-item
				a.header__list-link(href="#")
					img.header__list-icon(src="./images/svg/heart.svg", alt="heart icon")
			li.header__list-item
				a.header__list-link(href="#")
					img.header__list-icon(src="./images/svg/basket.svg", alt="basket icon")
			li.header__list-item
				a.header__list-link(href="#")
					span.header__list-menu
		menu.header__menu 
			li.header__menu-item
				a.header__menu-link(href="#") Главная
			li.header__menu-item
				a.header__menu-link(href="#") О компании
			li.header__menu-item
				a.header__menu-link(href="#") Каталог
			li.header__menu-item
				a.header__menu-link(href="#") Доставка и оплата
			li.header__menu-item
				a.header__menu-link(href="#") Акции
			li.header__menu-item
				a.header__menu-link(href="#") Отзывы
			li.header__menu-item
				a.header__menu-link(href="#") Контакты
	.header__content-block
		.header-container
			.header__logo-block 
				img.header__logo(src="./images/svg/logo.svg", alt="logo icon")
				.header__text-block
					h1.header__title Строй недорого
					h2.header__subtitle Строительные материалы
			.header__contact-block 
				a.header__contact-link(href="tel:+79231119901") +7 (923) 111-99-01
				address.header__contact-address Новосибирск, ул. Красина, 74
			button.header__btn Заказать звонок
			a.header__send(href="#") #[span.header__send-text Написать нам]
				img.header__send-icon(src="./images/svg/whatsapp.svg", alt="whatsapp icon")