$mainColor: #fff;
$mainColorDark: #000;
$secondaryColor: rgba(255, 255, 255, 0.8);
$backgroundColorMenu: linear-gradient(180deg, #003471 0%, #212121 191.67%);
$backgroundColorContent: #111;
$colorBtn: #212121;
